/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}